pipeline/FormulaOne-IngestionDataSet.json
{
	"name": "FormulaOne-IngestionDataSet",
	"properties": {
		"activities": [
			{
				"name": "check if files exist",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "formula1_datasetraw",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "check if files exist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(activity('check if files exist').output.childItems))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Ingest Circuits",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/patricknguyen84@outlook.com/ingestion/Ingest circuits"
							},
							"linkedServiceName": {
								"referenceName": "FormulaOneProject",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Races",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/patricknguyen84@outlook.com/ingestion/Ingest Races"
							},
							"linkedServiceName": {
								"referenceName": "FormulaOneProject",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": [],
		"lastPublishTime": "2023-06-03T18:15:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}